@import './antd.css';

.App {
  text-align: center;
}


body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: .4px;
  background: #eee;
}

.card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
  margin: 20px;
  position: relative;
  margin-bottom: 50px;
  transition: all .2s ease-in-out;
  max-width: 300px;
  color: #404040;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 54px;
}

.image {
  height: 200px;
  opacity: .7;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.imgs {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
}

.text p {
  margin-bottom: 0px;
}

.fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  margin-top: -50px;
  right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #0066A2;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.fab:hover {
  background: #549D3C;
  cursor: pointer;
  -ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.wrapper{
  width:25rem;
  height: 70vh;
  margin: 2rem;
  margin-top:15vh;
  font-size: 1.5rem;
  display: inline-block;
}


.mat_list{
  list-style-type: none;
  display:block;
  height: 100%;
  padding: 0;
}
.mat_list>li{
  margin-top:-1px;
  width:100%;
  max-height: 100%;
  transition: max-height 0.5s;
  overflow: hidden;
}
.mat_list>li::before{
  content: "";
  width: 75%;
  display:block;
  margin:auto;
  border-top:1px solid rgba(0,0,0,0.3);
}
.mat_list>li.hide{
  max-height:0px;
}
.mat_list_title{
  background-color: #955;
  color: rgba(255,255,255,0.75);
}
.mat_list_title[style*="background"]{
  height: 10rem;
  position:relative;
  background-size: cover;
  background-position: center center;
}
.mat_list_title>h1{
  font-size: 2rem;
  font-weight: 100;
}
.mat_list_title[style*="background"]>h1{
  position:absolute;
  bottom:0px;
  background-color: rgba(0,0,0,0.75);
  margin-bottom: 0px;
  padding: 20px;
}

.anchor {
  color: #000;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.anchor:hover {
  /* text-decoration: underline; */
  /* font-size: 1.2rem; */
  color: purple;
}

.anchor:active {
  color: black;
}

.anchor:visited {
  color: purple;
}

.item {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border: 1px solid grey;
}

.ant-drawer-body {
  padding:0px!important;
}

.ant-drawer-wrapper-body {
  background: black;
}

.ant-drawer-title {
  font-size: 25px;
}